extends index.pug

block content
  section.layout-width-sd.layout-col
    .section-hdg.section-hdg-1 #{note.name}
    .list-container.layout-row.layout-width-1-1
      .item-listing.layout-col.layout-width-1-1.layout-sd-width-5-8.layout-lg-width-5-8.layout-xl-width-5-8
        .itemdetail.layout-col
          .data #{note.description}
        .itemdetail.subdata.layout-col
          label.label Author
          .data #{note.user.firstname} #{note.user.lastname}
        .itemdetail.subdata.layout-col
          label.label Last Updated
          .data #{note.updatedAt}
        .itemdetail.layout-col
          .data#htmldown-div.layout-col
          .data#markdown-div.hidden #{note.body}
        if(user)
          #note_edit_button_container.editnote.layout-row.layout-justify-between.authUI(data-fetch="note_edit" data-href="/notes/" + note.id + "/actions/edit/")
      .description.layout-col.layout-xs-hidden.layout-sm-hidden.layout-md-hidden.layout-sd-width-3-8.layout-lg-width-3-8.layout-xl-width-3-8
        .section-hdg-2 Other Entries
        .item-listing.layout-col
          each noteItem in notes
            if(noteItem.id!=note.id)
              .infotext.layout-col(onclick="document.location='/blog/" + noteItem.id + "'")
                .section-hdg.section-hdg-3 #{noteItem.name}
                .data #{noteItem.user.firstname} #{noteItem.user.lastname}
                .data #{noteItem.updatedAt}

block scripts
  script(src='/js/markdown.js')
