extends index.pug

block aside
  aside.sidebar
    if(user)
      article#actions
        h2 Actions
        #note_add_button_container.addnote.authUI(data-fetch="note_add" data-href="/actions/create/notes/")
        #note_edit_button_container.editnote.authUI(data-fetch="note_edit" data-href="/notes/" + note.id + "/actions/edit/")
      +list-user-invites()
      article#articles
        include blog-list
      +list-user-domains("Domains")
      +create-or-see-domains("Domain")
    if(!user)
      if(notes && notes.length>0)
        article#articles
          include blog-list
      article#getstarted
        //- .hdg.hdg-2 Get Started!
        +login-or-register("Login with your account to begin using your cool app!","Register with your email address to create an account.")

block head
  link(rel="stylesheet" media="all" href="/css/laminar.base.min.css")
  link(rel="stylesheet" media="all" href="/css/traviscolbert.min.css")

block content
  section.blog
    article.main
      h1.articletitle 
        a(href="/blog/" title="back to blog home") &lt;&nbsp;
        | #{note.name}
      .body
        .articledescription #{note.description}
        .articlemetadata
          .articlemeta.user
            label.label author:
            .data #{note.user.firstname} #{note.user.lastname}
          .articlemeta.updated
            label.label updated on:
            .data #{note.updatedAt.toLocaleDateString()}
          .articlemeta.domain
            label.label category:
            .data #{note.domain.name}
        .articlebody !{note.html}
        a(href="/blog/").btn
         i.material-icons arrow_back_ios
         | back to blog
