extends index.pug

mixin create-blog()
  .item-listing.layout-width-1-1.layout-row
    .layout-width-1-2
      a.btn.secondary(href="/notes/")
        i.material-icons list_alt
        span Blog Entries
    .layout-width-1-2
      a.btn.primary(href="/actions/create/notes/")
        i.material-icons check_circle_outline
        span Create Blog Entry

block aside
  if(user)
    aside.sidebar
      .sticky-50.flexy-column
        +list-user-invites()
        +list-user-domains("Domain")
        +create-or-see-domains("Domain")

block content
  section.blog
    article#articlelist
      - let notesCount = (notes) ? notes.length : 0;
      .body
        //- .hdg.hdg-2 Recent Articles
        if(notesCount)
          - let num = notes.length
          - for(let count=0; count < num; count++) {
          -   let targetLoc = "/blog/" + notes[count].slug + "/";
          -   if(count==0) {
                .item.primary.clickable(onclick="goTo('" + targetLoc + "')")
                  .item-container
                    //- .articletitle #[a(href="/blog/" + notes[count].id + "/") #{notes[count].name}]
                    .articletitle
                      a(href=targetLoc) #{notes[count].name}
                    .articlemetadata
                      .articlemeta.user #{notes[count].user.firstname} #{notes[count].user.lastname}
                    .articlemetadata
                      .articlemeta.domain
                        .label filed under: 
                        .data #{notes[count].domain.name}
                      .articlemeta.updated 
                        .label updated on:
                        .data #{notes[count].updatedAt.toLocaleDateString()}
                    .articledescription #{notes[count].description}
                    - let previewCutoff = 300
                    - let prePosition = notes[count].html.indexOf('<pre>')
                    - if(prePosition >= 0 && prePosition < previewCutoff) previewCutoff = (prePosition-1)
                    - let imgregex = /<img[^>]*>/gi
                    - let articleblurb = notes[count].html.slice(0,previewCutoff).replace(imgregex,'').trim() + "... "
                    .articleblurb !{articleblurb + "</strong>"}
                      a.read-more(href="/blog/" + notes[count].id + "/") (read more)
          -   }
          -   if(count>0 && count<=4) {
                .item.secondary.clickable(onclick="goTo('" + targetLoc + "')")
                  .item-container
                    .articletitle 
                      a(href=targetLoc) #{notes[count].name}
                    .articlemetadata
                      .articlemeta.user #{notes[count].user.firstname} #{notes[count].user.lastname}
                      .articlemeta.domain category: #{notes[count].domain.name}
                    .articledescription #{notes[count].description}
                    //- - let articleblurb = notes[count].body.slice(0,150).trim() + "... "
                    //- .articleblurb #{articleblurb}
                      a.read-more(href="/blog/" + notes[count].id + "/") (read more)
          -   }
          -   if(count>4) {
                .item.tertiary.clickable(onclick="goTo('" + targetLoc + "')")
                  .item-container
                    .articletitle 
                      a(href=targetLoc) #{notes[count].name}
                    .articlemetadata
                      .articlemeta.user #{notes[count].user.firstname} #{notes[count].user.lastname}
                      .articlemeta.domain #{notes[count].domain.name}
                    .articledescription #{notes[count].description}
          -   }
          - }
          //- +list-blogs(notes)
