doctype html

mixin login-or-register(loginText,registerText)
  .layout-width-1-1.layout-row.layout-md-col.layout-wrap
    .app-features.layout-width-1-2.layout-md-width-1-1.layout-sm-width-1-1.layout-xs-width-1-1.clickable(onclick="goTo('/login/')")
      .layout-width-1-4.layout-col.text-align-center.layout-justify-center.layout-align-center.textshadow
        i.material-icons.big-icon verified_user
      .layout-width-3-4.text-align-justify= loginText
    .app-features.layout-width-1-2.layout-md-width-1-1.layout-sm-width-1-1.layout-xs-width-1-1.clickable(onclick="goTo('/register/')")
      .layout-width-1-4.layout-col.text-align-center.layout-justify-center.layout-align-center.textshadow
        i.material-icons.big-icon fingerprint
      .layout-width-3-4.text-align-justify= registerText

mixin create-or-see-domains(domainName)
  .item-listing.layout-width-1-1.layout-row
    .layout-width-1-2
      a.btn.secondary(href="/domains/")
        i.material-icons list_alt
        span #{domainName} List
    .layout-width-1-2
      a.btn.primary(href="/actions/create/domains/")
        i.material-icons check_circle_outline
        span Create #{domainName}

mixin list-domains(domainText)
  .layout-width-1-1.layout-col
    h2 #{domainText} List:
    .layout-width-1-1.layout-row.layout-md-col.layout-wrap
      if(user.domains)
        each domain in user.domains
          if domain.name!="Trash Domain" && domain.name!="Default Domain"
            .item-listing.layout-width-1-2.layout-md-width-1-1.layout-col
              .layout-col
                .itemhead.layout-row #[a(href="/domains/" + domain.id + "/") #{domain.name}] #[i.material-icons.badge(alt="(default account)" title="This is currently your default account") stars]
                .layout-col
                  .itemdetail #{domain.description}
                  - let defaultToDomain = (user.defaultDomainId!=domain.id) ? "/users/" + user.id + "/actions/setdefaultdomain/" + domain.id + "/" : "";
                  if(user.defaultDomainId!=domain.id)
                    a#domain_make_default_button.btn.tertiary.layout-size-x1.buttondomaindefault(href= defaultToDomain)
                      i.material-icons stars
                      span Make Default
                .layout-width-1-1.layout-col
                  if(domain.notes)
                    .layout-row.layout-width-1-1 Notes:
                    each note in domain.notes
                      .item-listing.layout-row
                        .layout-row.layout-align-center
                          i.material-icons.text-grow-x3 receipt
                        .layout-col
                          .nobreak #{note.name}
                          .layout-row #{note.description}

mixin link(options)
  if(options.type=="link")
    link(rel= options.rel media= options.media href= options.href)
  else if (options.type=="script")
    script(src= options.src)

html
  include head.pug
  if(headoptions)
    for headoption in headoptions
      +link(headoption)
  body.header-static.footer-static.layout-align-center
    include navigation.pug
    #main.content.layout-height-1-1.layout-width-1-1.layout-col.layout-align-center
      include messages.pug
      block content
    block scripts
  include foot.pug