header.layout-row.layout-justify-center.layout-width-1-1
  nav#topmenu.layout-xs-col.layout-sm-width-1-1.layout-md-width-1-1.layout-width-sd.layout-sm-justify-end.layout-align-center.layout-xs-align-stretch(role=navigation)
    #menu-title.layout-row.layout-justify-between
      div#app-title
        a(href="/")= title
      label#menu-hamburger.layout-justify-end(for="show-menu") &#9776;
    input#show-menu(type="checkbox" role="button")
    ul.layout-xs-hidden.layout-xs-col.layout-row.layout-sm-size-x2.layout-size-x1.layout-justify-around.layout-align-center
      li.layout-row.layout-size-x3.layout-justify-center
      each item in menu
        - var link = item.link;
        - var text = item.text;
        li.layout-size-x1
          a(href=link).layout-width-1-1.layout-row.layout-sm-col.layout-align-center.layout-xs-justify-start.layout-justify-center.text-xs-grow-x2
            i.material-icons.menu-icon #{item.icon}
            .nobreak.text-sm-shrink-x3 #{text}
